# Dependencies
node_modules/

# Environment files
.env
.env.local

# Build folders
build/
dist/

# Uploads
backend/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db